<div class="loader-box">
      <div class="loader">
            <div class="element-animation">
            <img src="https://res.cloudinary.com/ds77w2ye3/image/upload/v1552564099/samples/Component.png" width="480" height="100";>
            </div>
      </div>
      <ul class="labels">
        <li class="label">PostgreSQL...</li>
        <li class="label">JS...</li>
        <li class="label">CSS...</li>
        <li class="label">HTML...</li>
      </ul>
</div>

<div hidden class="container" id="align-all-div">
  <h1 class="x-profiles-found-title">See below the 10 most compatible profiles!</h1> 
  <% @profiles_scoring.first(15).reject { |p| p[:profile].id == current_user.profile.id }.each do |hash| %>
    <div class="card-list-border">
      <div class="row">
        <div class="col-6 profile-position">
          <div class="list-avatar inline-div">
            <img alt="avatar-large" src= "<%= hash[:profile].picture%>" />
          </div>
          <div class="list-username inline-div">
            <h3 class="profile-avatar-name-2"><%= hash[:profile].nickname%></h3> 
              <p style="font-size: 15px;" class="profile-avatar-city-2"><i class="fas fa-map-marker-alt"></i> <%= hash[:profile].location %> </p>
          </div>
        </div>
        <div class="col-6 position-score">
          <div class="list-score">
          <h4><%= number_to_percentage(hash[:score][:total], precision: 0)  %></h4>
            <p><strong>matching score</strong></p>
          </div>
        </div>
      </div>
      <hr class="list-line">
      <div class="row ">
        <div class="col-6">
          <div class="list-description">
            <h3><strong>What is <%=hash[:profile].nickname  %> looking for? </strong></h3>
            <p><%= hash[:profile].description%></p> 
          </div>
        </div>
        <div class="col-6 margin-bottom-goals">
          <div class="goal-description">
            <h3><strong>Common interests with you</strong></h3>
            <div class="goal-description-stamps">
            <% @common_profile = hash[:profile].goals_name & @current_user.profile.goals_name %>
            <% @common_profile.each do |name| %>
            <p class="inline-div list-circle-goals"> <%= name.capitalize %></p>
            <% end %>
            </div>
          </div>
        </div>
        
      </div>
      <div class="btn-show-detail">
          <%= link_to "Show details", profile_path(hash[:profile]), class:"btn show-button"%>
        </div>
    </div>
    <% end %>
    <hr width="0px;">
</div>


<script type="text/javascript">
  setTimeout(function () {
    document.querySelector(".loader-box").hidden = true
    document.getElementById("align-all-div").hidden = false
  }, 6000);
</script>
