<h1 class="x-profiles-found-title">See below the 15 most relevant profiles!</h1> 

<div class="container" id="align-all-div">
  <% @profiles_scoring.each do |hash| %>
    <div class="card-list-border">
      <div class="row">
        <div class="col-8 profile-position">
          <div class="list-avatar inline-div">
            <img alt="avatar-large" src= "<%= hash[:profile].picture%>" />
          </div>
          <div class="list-username inline-div">
            <h3><%= hash[:profile].nickname%></h3> 
            <p>Location: <%= hash[:profile].location %> </p> 
          </div>
        </div>
        <div class="col-4 position-score">
          <div class="list-score">
            <h4><strong>Score:</strong></h4>
            <h4><%= number_to_percentage(hash[:score][:total], precision: 0)  %></h4>
          </div>
        </div>
      </div>
      <hr class="list-line">
      <div class="row ">
        <div class="col-8">
          <div class="list-description">
            <h3><strong>Description</strong></h3>
            <p><%= hash[:profile].description%></p> 
          </div>
        </div>
        <div class="col-4 margin-bottom-goals">
          <div>
            <h3><strong>Goals</strong></h3>
            <% hash[:profile].goals_name.each do |name| %>
              <p class="inline-div list-circle-goals"><%= name %></p>
            <% end %>
          </div>
            <p> <%= link_to "Show details", profile_path(hash[:profile]), class:"btn btn-flat button" %> </p>
        </div>
      </div>
    </div>
    <% end %>
</div>

