<div class="container">
  <div class="profile-border">
    <div class="row">
      <div class="col-6">
        <div class="profile-avatar inline-div">
            <img alt="avatar-large" src="<%= @profile.picture %>" />
        </div>
        <div class="inline-div">
          <h3 class="profile-avatar-name"><%= @profile.nickname %></h3>
          <h5 class="profile-avatar-city"><i class="fas fa-map-marker-alt"></i> <%= @profile.location %></h5>
        </div>
      </div>

      <div class="col-6">
        <div class="list-score-show">
          <h4><strong><%= number_to_percentage(@score[:total], precision: 0) %></strong></h4>
          <p>Overall matching score</p>
        </div>
      </div>
    </div>
    <hr class="profile-list-line">
    <div class="row">
      <div class="col-12">
        <h2><strong>Technical score details</strong></h2>
      </div>
    </div>
    <div class="row">
      <div class="col">
      
        <div class="cards">
          <div class="card language-charac">Languages</div>
          <div class="card language-charac">Top 3: <%= @profile.technical.language_1%> , <%= @profile.technical.language_2%>  and <%= @profile.technical.language_3%> </div>
          <div class="card language-charac progressive-bar">
            <div class="progress-bar">
              <div class="percent" style="width: <%= number_to_percentage(@score[:language], precision: 0) %>;"><%= number_to_percentage(@score[:language], precision: 0) %> </div>
            </div>
          </div>

          <div class="card style-charac">Style</div>
            <% if @profile.technical.commit_slot == 1 %>
              <% image = "Morning developer" %>
              <% elsif @profile.technical.commit_slot == 2 || @profile.technical.commit_slot == 3 %>
              <% image = "Day developer" %>
              <% else %>
              <% image = "Night developer" %>
              <% end %>
          <div class="card style-charac"><%= image %></div>
          <div class="card style-charac progressive-bar">
            <div class="progress-bar">
              <div class="percent" style="width: <%= number_to_percentage(@score[:style], precision: 0) %>;"><%= number_to_percentage(@score[:style], precision: 0) %> </div>
            </div>
          </div>
          <div class="card experience-charac">Experiences</div>
          <div class="card experience-charac">
            <div>Github account since <%= number_with_delimiter(@profile.technical.github_age) %> days</div>
            <div><%= number_with_delimiter(@profile.technical.total_commits) %> commits on Github </div>
            <div>Contributed to <%= number_with_delimiter(@profile.technical.number_of_projects) %> projects on Github </div>
            <div> Has <%= number_with_delimiter(@profile.technical.followers) %> followers on Github</div>
          </div>
          <div class="card experience-charac progressive-bar">
            <div class="progress-bar">
              <div class="percent" style="width: <%= number_to_percentage(@score[:experience], precision: 0) %>;"><%= number_to_percentage(@score[:experience], precision: 0) %> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="profile-list-line">
    <div class="row">
      <div class="col">
        <h3><strong>Description</strong></h3>
          <p><%= @profile.description %> </p>
      </div>
      <div class="col">
        <div>
          <h3><strong>Goals</strong></h3>
          <% @profile.goals_name.each do |name| %>
            <p class="inline-div list-circle-goals"> <%= name %></p>
            <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div id="profile-send-message">
          <button>Send message</button>
        </div>  
      </div>
    </div>
  </div>
</div>