<div class="container">
  <h1>Sign up with GitHub</h1>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <!-- <div class="form-inputs">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Sign up" %>
    </div>
  <% end %> -->
  <div class="card text-center">
    <div class="card-body">
      <p><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/1920px-Octicons-mark-github.svg.png" width="150" height="150" alt=""> </p>
      <h3 class="card-title"> <strong> GitHub ? Why ? </strong> </h3>
      <p class="card-text"> We will use your public repositories to analyze your style and give you <strong> the most relevant matches </strong> according to your profile!</p>
      <p> <%= link_to "Sign Up with GitHub", user_github_omniauth_authorize_path, class:"btn btn-flat button" %> </p>
    </div>
  </div>
  <!-- <%= render "devise/shared/links" %> -->
</div>