<div class="container background-goals-container">
  <div class="goals-title">

    <h2><strong>What are you interested in?</strong></h2>
    <p>(Select at least one interest)</p>

  </div>
  <div class="goals-list">
    <% @categories.each do |category| %>
      <span>
        <h4 class="goals-unselected btn clickme" data-markers="<%= category.id %>"><%=category.name.capitalize %></h4>
      </span>
    <% end %>
  </div>
  <hr>
  <div class="description-title">
    <h2><strong>Tell us more about it!</strong></h2>
  </div>

  <div class="description-content">
    <%= simple_form_for @profile, url: select_w_path, method: "get" do |f| %>
    <input type="hidden" name="id" value="<%=@profile.id%>">
      <%= f.input :description, label: false, input_html: { maxlength: 280 }, html: { class: 'required' }, placeholder: "Do you want to develop a fighting robot, create the next AirBnb, make some friends? (280 characters max) "%>
      <input type="hidden" name="goals[categories]" value="" id="goals-input">
      <%= f.button :submit, 'Next', class:"submit-goals" %> 
    <% end %>
  </div>
</div>