<div class="container">
  <div class="goals-title">
    <h1>{What is your objective ?}</h1>
  </div>
  <div class="goals-list">
    <% @categories.each do |category| %>
      <span>
        <h4 class="goals-unselected btn clickme" data-markers="<%= category.id %>"><%=category.name.capitalize %></h4>
      </span>
    <% end %>
  </div>

  <div class="description-title">
    <h2>Tell us more about it!</h2>
  </div>

  <div class="description-content">
    <%= simple_form_for @profile, url: select_w_path, method: "get" do |f| %>
    <input type="hidden" name="id" value="<%=@profile.id%>">
      <%= f.input :description, label: false, placeholder: "Do you want to develop a fighting robot, create the next AirBnb, make some friends?"%>
      <input type="hidden" name="goals[categories]" value="" id="goals-input">
      <%= f.button :submit, label: 'Next', class:"submit-goals" %> 
    <% end %>
  </div>
</div>