<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">
    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <!-- <meta property="og:image" content="<%= meta_image %>" /> -->
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />
    <title>Good Buddy</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <div class="navbar bg-white py-3 px-4">
      <div class="logo">
        <h4><%= link_to "{GoodBuddy}", root_path, class: "logo1" %></h4>
      </div>
      <div class="nav-bar-right d-flex align-items-center">
        <% if user_signed_in? == false %>
          <%= link_to "Sign up", new_user_registration_path, class: "px-3 d-none d-sm-block navbar-font" %>
          <%= link_to "Login", new_user_session_path, class: "px-3 d-none d-sm-block navbar-font" %>
        <% else %>
          <div class="dropdown  d-none d-sm-block">
          <% picture = current_user.picture_url %>
            <%= image_tag picture, class: "circle-img rounded-circle px-3 zoom-avatar", alt:"avatar", type: "image", id: "dropdownMenuButton", data: { toggle:"dropdown" }, aria: { haspopup:"true", expanded: "false" } %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
              <%= link_to "Profile", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              <%= link_to "Suggested box", "#", class: "dropdown-item" %>
              <%= link_to "Contact us", "#", class: "dropdown-item" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <%= render 'shared/flashes' %>
    <%= yield %>

    <div class="footer">
      <div class="footer-links" class="col-sm-12">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
      <div class="footer-links" class="col-sm-12">
        <a href="#">Contact us</a>
        <a href="#">About us</a>
        <a href="#">Policy</a>
        <a href="#">Blog</a>
      </div>
    </div>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
